---;
import Scroll from '../../layouts/Scroll.astro';
---

<style>
    .btn {
        pointer-events: none;
        margin-right: 5px;
        margin-bottom: 5px;
    }
</style>

<Scroll title="The Good Boi - About">

    <h1 class="title pop">About</h1>
    Who invited this guy?
    <hr>

    
    <div class="d-flex flex-row align-items-center">
        <img src="https://ucarecdn.com/f23fee59-7bf5-4d47-a1bd-777befc79687/GoodBoi.png" alt="boi" width="150px" style="border-radius: 20%;">
        <div class="ps-3">
            I have a computer and VR headset. <br>
            I do my best to make use of these things! <br>
        </div>
    </div>

    <br>

    <h1 class="mb-1">Interests</h1>
    <div class="btn btn-sm btn-warning"><b>JavaScript</b></div>
    <div class="btn btn-sm btn-primary"><b>TypeScript</b></div>
    <div class="btn btn-sm btn-danger" style="background-color: #d50; border-color: #d50;"><b>HTML</b></div>
    <div class="btn btn-sm btn-info"><b>HLSL</b></div>

    <p>
        Notice how I didn't say "Skills" yet.
        This is because I am very new to everything here, so I wouldn't consider anything past something I enjoy.
    </p>

    <br>
    <h1>JS TS BS</h1>
    <p>
        I got into JavaScript through Beat Saber modcharting.
        The map files are <span class="font-monospace">.json</span>, so this makes sense.
        Then the tool <a href="https://github.com/Swifter1243/ReMapper">ReMapper</a> was released and it changed everything about how maps were made.
        It uses TypeScript, so I switched after a bit of relearning.
        I'm trying to use TS as my main language now as it seems okay for many other uses.
    </p>
    <br>
    <h1>Websites to Shaders</h1>
    <p>
        While HTML and HLSL are similar in name, they are very differnt.
        I tried HTML because I thought JS is used a lot in it.
        Turns most of websites isn't about coding, but the formatting, oh well!
        As for shaders, they look cool.
    </p>
    <br>
    <h1>Other Stuff</h1>
    <ul>
        <li>My timezone is PST</li>
        <li>I'm very immature</li>
    </ul>
    <br>

</Scroll>