---;
import Scroll from '../../layouts/Scroll.astro';
---

<Scroll title="The Good Boi - Services">

    <h1 class="title pop">Services</h1>
    I'll be your catmaid for today, how may I help?
    <hr>

    <br>
    <h1><a href="https://forms.gle/FKapugd1xHjj6SRR8">Real VHS Effect</a></h1>
    <h2 class="pop">$10 base, then $10 more per minute</h3>
    <p>
        I'm offering to put your videos onto and off of a physical VHS tape to achieve a pretty neat effect!
    </p>
    <img src="https://cdn.discordapp.com/attachments/803471147898241027/1119865575947116634/vhscompare.gif" alt="comparison" width="100%" style="border-radius:10px">
    <p class="mt-2"><i>
        *GIF is lossy, see my video for a better example: <a href="https://youtu.be/qQcmGsVFO44">youtu.be/qQcmGsVFO44</a>
    </i></p>
    

</Scroll>