---;
import Scroll from '../../layouts/Scroll.astro';
import '../../styles/bs.css';
---

<Scroll title="The Good Boi - Beat Saber">
        
    <div id="beat-saber">
        <div id="bs-frame">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
    </div>
    
    <div style="width:70%;">
        <h1 class="title pop">Beat Saber</h1>
        haha bloq
        <hr>
    
        <p>
            I create custom levels, otherwise knows as maps for Beat Saber.
            I sometimes upload modcharts, which are maps that make heavy use of mods during the song.
        </p>
        
        <br>
        <h1><a href="/beat-saber/maps">Maps</a></h1>
        <p>A list of maps I have created</p>
        
        <br>
        <h1>Resources</h1>
        <p><a href="https://github.com/TheGoodBoi411/undysfunctional-mapping-functions">undysfunctional-mapping-functions</a> : Functions for NE maps
        <br><span class="text-muted">map-files</span> : Source files/code for modhcarts (Coming soon™)</p>
    </div>

    <script src="../../scripts/bs.js"></script>

</Scroll>