---;
import Scroll from '../../layouts/Scroll.astro';
import Map from '../../components/Map.astro';
---

<script>
    document.getElementById("scrollDiv").classList.add("w-read-1600");
</script>

<Scroll title="The Good Boi - Beat Saber">

    <h1 class="title pop">Maps</h1>
    Levels I created or got involved in that are worth of extra notes.
    <hr>

    <Map 
        song="The Glorious Octagon of Destiny"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1015695368605925537/paper.png"
        date="6/12/22"
        link="https://beatsaver.com/maps/26ad0"
    >
        We found an 🛑! An eight minute Noodle Extensions map full of polygonal shapes.
        <ul>
        <li>This took over eight months of scripting and testing, for honestly not that much payoff lol.</li>
        <li>The effects are really more quantity over quality so don't expect the craziest stuff the whole way through.</li>
        <li>There's a few "easter eggs" which aren't too hard to find if you're watching a video, but they are fun to spot.</li>
        <ul>
            <li>At the end of Super Octagon it says "Fevel Lailed", a reference to Metal Gear Solid's "Fission Mailed"</li>
            <li>The octagonal font was made by me for the map. It accidentally looks a lot like the <a href="https://fontmeme.com/fonts/super-mario-extended-font/">Super Mario Maker font</a>.</li>
        </ul>
        <li>This map has been quite helpful in finding NE bugs because of all the wacky coding I did.</li>
        </ul>
    </Map>

    <Map 
        song="Dummy!"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1018026519467130961/dummy.png"
        date="10/22/21"
        link="https://beatsaver.com/maps/1d466"
    >
        This map was intended to have NE in it, and be apart of a collabrative pack with a bunch of Undertale OST songs.
        I quickly made this map, didn't noodle it, then the whole pack lost steam and was cancelled.
        Between this and it's upload I took a hiatus of two months, coming back with the mindset of doing noodle again which led to the creation of The Glorious Octagon of Destiny.
        The map is still decent even though it doesn't have the original effect of a wave of lights turning on, somehow this was lost while it sat in my WIP folder.
    </Map>

    <Map 
        song="The Quality of SoundCloud 2"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1018031784857980988/album.jpg"
        date="8/4/21"
        link="https://beatsaver.com/maps/1adf7"
    >
        The second 25-minute long map I made.
        This is the third installment in the TQoS series, hopefully the last because I do not want to do this again.
        It took a while to make, about 25 hours of mapping and lighting.
        This is not my longest map ever, that title goes to <a href="https://beatsaver.com/maps/15053">The Quality of YouTube</a>.
        It actually got a decent amount of popularity compared to other maps which is nice!
        SuperMemer seems to have taken a specific interest in the map, if you're reading this, thanks!
        I'll take this space to mention that I do enjoy making very long maps, but only if they're memes.
    </Map>

    <Map 
        song="Up & Down"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1018073926502453288/UpdowN.jpg"
        date="12/20/20"
        link="https://beatsaver.com/maps/11cf8"
    >
        Okay well, uh... This is <i>the</i> map that everyone knows me for.
        Blah blah blah the map sucks, I know.
        But, why did this map get as popular as it did?
        Mawntee! He uploaded a video to his channel playing it, and suggested it to Bandoot on a stream (not sure if this the only time he did that).
        Mawntee then gave me feedback, and encouraged me to make more modcharts.
        I did not. Many times I have thoughts about "wasted potential" and I don't know if it's true.
        Like, I was very early to noodle, but only made one map before returning to vanilla maps that I wanted to make.
        I am <b>way</b> behind on all the NE development lol.
    </Map>

    <Map 
        song="Clap It Out"
        cover="https://i.scdn.co/image/ab67616d0000b27361bc6bd0f3e47998f87dec8c"
        date="12/24/19"
        link="https://beatsaver.com/maps/78fe"
    >
        This was the first map I made with the Mapper role in the BSMG Discord.
        The role was a big deal for me, because it was at that point I realized that I was actually a part of the community!
        With CheckThePan noticing my potential and suggesting to invite me to BSM while it was still private was pretty awesome.
        This is normally where one would say, "look how far I've come!"
        But honestly, I don't really think I've made too much improvement.
        I don't completely dedicate myself to mapping, playing, or anything with Beat Saber at all.
        I play Beat Saber as a hobby, and nothing more!
    </Map>

    <Map 
        song="Rockefeller Street [ 360° & 90° ]"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1018353170306584616/street.jpg"
        date="12/15/19"
        link="https://beatsaver.com/maps/768f"
    >
        When Beat Saber released the 360° mode, I saw an oppertunity to make a map with a popular song.
        The map became my most popular and was only topped by Up & Down a year later.
        I discussed this map a bit in BSMG, and it brought some light to the new 360 stuff (I think).
        And it was fun looking at all of the video plays on it and seeing people support the map!
    </Map>

    <Map 
        song="Quality of SoundCloud - Part 1"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1018362806430597240/cloud.jpg"
        date="11/25/19"
        link="https://beatsaver.com/maps/71ea"
    >
        This was the first "long" song I made.
        I saw Acai play TQoS parts 1 and 2, and felt like it would be funny to make a map from them!
        Fun fact, the creator of the playlist <a href="https://www.youtube.com/watch?v=6LEfAm1LVuc&lc=UgxAEqr4NZI_vyZ3u-t4AaABAg">actually commented</a> on the video I made, which was a huge boost of motivation!
        Most of the meme maps I've made have come from seeing Acai play it on Clone Hero, also including <a href="https://beatsaver.com/maps/1279f">Grains of Sand</a>.
        I have a paticular liking for YTPMV's and their quality.
        This issue with this is that I have never gotten any of these kinds of maps testplayed, even though I make the maps serious.
        I'm sure some would want to test them but I don't have the self-confidence for it. 🤪
    </Map>

    <Map 
        song="Game On"
        cover="https://cdn.discordapp.com/attachments/803471147898241027/1025275473896427540/GameOn.jpg"
        date="9/1/19"
        link="https://beatsaver.com/maps/6098"
    >
        This was my first (and so far only) map to be curated.
        Recently I have found out that curation is not random, but I actually have to do something for it.
        I don't really care about this, as I'm fine with my purple bar on most of my maps.
        Maybe some important maps I make can get curated, who knows!
        Also, <a href="https://beatsaver.com/profile/4284569">CheckThePan</a> made a nice comment about the map being good, and I think it's this map that got me into the BSM server early.
    </Map>

    <br>

</Scroll>