---;
import Static from '../layouts/Static.astro';
---
<style>
    div.land {
        position: absolute;
        white-space: nowrap;
    }
    h1.land {
        font-size:10vw;
        opacity:30%;
        color:black;
    }
</style>

<Static title="The Good Boi">

        <div
            class="position-absolute top-50 start-50 translate-middle text-center text-muted fw-semibold lh-1"
            style="width:120%; font-size:5vw; top:-69px; opacity:20%; rotate:-5deg"
        >
            Loworem iupsdm dloor mteow, pawosme saicel pwatrs snoole borpoer.
            Frrucyoon furmeow owo clsawome senp wag tali mle.
            Floof husyk growl yffiy poucne, purr dargon fupirle yeen.
            Athrcoon fsurtiing bdage meep wlof hwol, frale plsuie pbaen.
            Ptogenro hewwo wgagy tail, fruosna furubtt nom paaws.
            Foxact yiff growl wag, brko fern paw purr uwu.
            Loworem iupsdm dloor mteow, pawosme saicel pwatrs snoole borpoer.
            Frrucyoon furmeow owo clsawome senp wag tali mle.
            Floof husyk growl yffiy poucne, purr dargon fupirle yeen.
            Athrcoon fsurtiing bdage meep wlof hwol, frale plsuie pbaen.
            Ptogenro hewwo wgagy tail, fruosna furubtt nom paaws.
            Foxact yiff growl wag, brko fern paw purr uwu.
        </div>

        <div class="position-absolute start-50 translate-middle" style="top: 45%;">
            
            <h1 class="pop" style="font-size:20vw;">404</h1>
            <p class="text-center lh-1 fw-bold" style="font-size:4vw;">PAGE NOT FOUND</p>
            <p class="text-center lh-1 fw-semibold" style="font-size:2.5vw;">take me <a href="/">home</a></p>
            
        </div>

</Static>