---;
import Scroll from '../layouts/Scroll.astro';
import Image from '../components/Image.astro'
---

<Scroll title="The Good Boi - Gallery">
    

    <h1 class="title pop">Gallery</h1>
    some pixels that might be worth your time
    <hr>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1140876433175093318/image.png"
        date="8/14/23"
        link="https://discord.gg/mQPmX6m3"
    >
        What are we looking at?
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1139421466409062440/IMG_9561.png"
        date="8/10/23"
        link="https://youtu.be/3a3VeUqdSDw?t=435"
    >
        Octagon #11
    </Image>

    <Image 
    image="https://cdn.discordapp.com/attachments/803471147898241027/1139421524776988763/IMG_9512.jpg"
    date="7/26/23"
    link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #10
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1138347520666382346/IMG_9453.jpg?width=1221&height=916"
        date="7/26/23"
        link="https://youtu.be/EiZU3BvqvP4?t=16"
    >
        Octagon #9
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1138347819594436618/IMG_9339.jpg?width=687&height=916"
        date="6/29/23"
        link="https://youtu.be/ddWJatRxfz8"
    >
        Octagon #8
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1138347820143882320/IMG_9299.jpg?width=1221&height=916"
        date="6/26/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #7
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1138347520079179846/IMG_9263.jpg?width=457&height=457"
        date="6/22/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #6
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1138347520653807646/IMG_9024.jpg?width=916&height=916"
        date="6/13/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #5
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113316521981267988/683C54E0-DA46-4ABB-9E72-B50EA0366A13.jpg"
        date="4/9/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #4
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1113316521196916797/C0782CBF-3146-4322-8CB8-458BAD72B433.jpg"
        date="4/6/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #3
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113316520903331870/D86C89C0-034F-45A1-863F-3CF2908405EC.jpg"
        date="4/2/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #2
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113316521561833582/7139798C-0A85-47E2-8E66-BCBE26DB8113.jpg"
        date="4/2/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #1
    </Image>
    
    <Image 
        image="https://cdn.discordapp.com/attachments/803719136626606090/1113312728010997790/image.png"
        date="10/9/22"
        link="https://garticphone.com"
    >
        Gartic Phone shenanigans
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113318121969823744/A2DDCE85-862D-49F1-A429-8825C5451E15.jpg"
        date="6/20/19"
        link="https://youtu.be/YFX3V1qVWeo?t=153"
    >
        Up to sundown
    </Image>

</Scroll>