---;
import Scroll from '../layouts/Scroll.astro';
import Image from '../components/Image.astro'
---

<Scroll title="The Good Boi - Gallery">
    

    <h1 class="title pop">Gallery</h1>
    some pixels that might be worth your time
    <hr>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113316521981267988/683C54E0-DA46-4ABB-9E72-B50EA0366A13.jpg"
        date="4/9/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #4
    </Image>

    <Image 
        image="https://media.discordapp.net/attachments/803471147898241027/1113316521196916797/C0782CBF-3146-4322-8CB8-458BAD72B433.jpg"
        date="4/6/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #3
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113316520903331870/D86C89C0-034F-45A1-863F-3CF2908405EC.jpg"
        date="4/2/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #2
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113316521561833582/7139798C-0A85-47E2-8E66-BCBE26DB8113.jpg"
        date="4/2/23"
        link="https://youtu.be/_7jpz_55EdM"
    >
        Octagon #1
    </Image>
    
    <Image 
        image="https://cdn.discordapp.com/attachments/803719136626606090/1113312728010997790/image.png"
        date="10/9/22"
        link="https://garticphone.com"
    >
        Gartic Phone shenanigans
    </Image>

    <Image 
        image="https://cdn.discordapp.com/attachments/803471147898241027/1113318121969823744/A2DDCE85-862D-49F1-A429-8825C5451E15.jpg"
        date="6/20/19"
        link="https://youtu.be/5a-0_DvcQGw?t=153"
    >
        Sunset
    </Image>

</Scroll>