---;
import Nav from '../components/Nav.astro';
import NavMini from '../components/NavMini.astro';
import Static from '../layouts/Static.astro';
---

<Static title="The Good Boi">

    <NavMini></NavMini>
	
    <div class="position-absolute start-50 translate-middle w-100" style="top:45%;">
        
        <div class="the-timer text-center mb-5"></div>
        
    </div>

</Static>

<script src="../scripts/timer.js"></script>