<body>
    <header>
        <div class="position-relative start-50 translate-middle-x w-100 contain" style="height:10vw; max-height: 50px; background-color: rgba(0, 0, 0, 0.5);">
            
            <div class="position-absolute h-100 start-50 translate-middle-x" style="width: 90%; max-width: 1000px;">
                <div class="d-flex justify-content-end align-items-center h-100 p-2" style="font-size:clamp(13px, 2vw, 22px);">
                    <div class="ps-4"><a href="/beat-saber" class="text-decoration-none text-reset">Beat Saber</a></div>
                    <div class="ps-4"><a href="/blog" class="text-decoration-none text-reset">Blog</a></div>
                    <div class="ps-4"><a href="/about" class="text-decoration-none text-reset">About</a></div>
                    <div class="ps-4"><a href="/projects" class="text-decoration-none text-reset">Projects</a></div>
                </div>
                
                <div class="position-absolute top-50 start-0 translate-middle-y p-1" style="font-size:clamp(23px, 3vw, 30px);">
                        <a href="/" class="text-decoration-none text-reset fw-light">
                            TGB
                        </a>
                </div>
            </div>
            
        </div>

    </header>

    <slot></slot>
    
</body>