<body>
    <header>
        <div class="position-fixed start-50 translate-middle-x w-100 contain" style="height:10vw; max-height: 50px; background-color: rgba(0, 0, 0, 0.7); z-index:100;">
            
            <div class="position-absolute h-100 start-50 translate-middle-x" style="width: 90%; max-width: 1000px;">
                <div class="d-flex justify-content-end align-items-center h-100 p-2" style="font-size:clamp(0px, 2.8vw, 22px);">
                    <div style="margin-left:1.6vw;"><a href="/blog" class="text-decoration-none text-reset">Blog</a></div>
                    <div style="margin-left:1.6vw;"><a href="/about" class="text-decoration-none text-reset">About</a></div>
                    <div style="margin-left:1.6vw;"><a href="/projects" class="text-decoration-none text-reset">Projects</a></div>
                    <div style="margin-left:1.6vw;"><a href="/gallery" class="text-decoration-none text-reset">Gallery</a></div>
                </div>
                
                <div class="position-absolute top-50 start-0 translate-middle-y p-1" style="font-size:clamp(23px, 3vw, 30px);">
                        <a href="/" class="text-decoration-none text-reset fw-light">
                            TGB
                        </a>
                </div>
            </div>
            
        </div>

        <div style="height:10vw; max-height: 50px;"></div>

    </header>

    <slot></slot>
    
</body>