<body>
    <header>
        <div class="position-relative start-50 translate-middle-x w-100 contain" style="height:10vw; max-height: 50px; background-color: rgba(0, 0, 0, 0.5);">
            
                <div class="position-absolute top-50 start-0 translate-middle-y ps-3" style="font-size:clamp(23px, 3vw, 30px);">
                        <a href="/" class="text-decoration-none text-reset fw-light">
                            TGB
                        </a>
                </div>
            
        </div>

    </header>

    <slot></slot>
    
</body>