---
const { title, date, id, type } = Astro.props;
const url = "/blog/" + id;
const classes = "d-block text-decoration-none text-reset position-relative start-50 translate-middle-x p-3 pt-2 mt-4 border border-3 border-" + type;
---

<a 
    class={classes}
    style="border-radius: 10px; width:fit-content;"
    href={url}
>
    <h1>{title}</h1>
    <p class="text-muted fst-italic fs-6 mb-2">{date}</p>
    <p class="fs-5 mb-0"><slot></slot></p>
</a>