---
const { title, date, id, type } = Astro.props;
const url = "/blog/" + id;
const classes = "d-block text-decoration-none text-reset position-relative start-50 translate-middle-x p-3 pt-2 mt-4 border border-3 border-" + type;
---

<style>
    .border-success {
        border-color: #1bab68 !important;
        background-color: #1bab6811;
    }
    .border-warning {
        background-color: #ffc10711;
    }
    .border-info {
        background-color: #0dcaf011;
    }
    .border-light {
        border-color: #adb5bd !important;
        background-color: #f8f9fa11;
    }
</style>

<a 
    class={classes}
    style="border-radius: 10px; "
    href={url}
>
    <h1>{title}</h1>
    <p class="fst-italic fs-6 mb-0">{date}</p>
</a>