---;
import Scroll from '../../layouts/Scroll.astro';
---

<Scroll title="The Good Boi - Projects">

    <h1 class="title pop">Projects</h1>
    I make thing
    <hr>

    <h1><a href="/timer">Skewed Timer</a></h1>
    <p>A timer that can be made slightly longer or shorter than it seems.</p>
    <ul>
        <li>Input the time you want displayed on the top row</li>
        <li>Put the number of seconds you want to add/subtract to the actual time</li>
        <li>ex: 5:00 +60</li>
        <ul><li>Looks like 5 minutes, actually 6 minutes</li></ul>
    </ul>

</Scroll>