---;
import Scroll from '../../layouts/Scroll.astro';
---

<Scroll title="The Good Boi - Projects">

    <h1 class="title pop">Projects</h1>
    I've made some pretty sweet stuff that you should check out
    <hr>

    <h1><a href="/timer">Skewed Timer</a></h1>
    <p>A timer that can be made slightly longer or shorter than it seems.</p>
    <ul>
        <li>Input the time you want displayed on the top row</li>
        <li>Put the number of seconds you want to add/subtract to the actual time</li>
        <li>ex: 5:00 +60</li>
        <ul><li>Looks like 5 minutes, actually 6 minutes</li></ul>
    </ul>

    <br><hr>

    <h1>YTPMV's and Mashups</h1>
    <ul>
        <li><a href="https://youtu.be/Tu_kV84mwDE">Death by Beast</a> - First YTPMV</li>
        <li><a href="https://youtu.be/sa2ElDQbaUY">MrDummy!</a> - Second YTPMV, got into <a href="www.youtube.com/watch?v=XXx00t5lgo8&t=363s">Underbeast</a></li>
        <li><a href="https://youtu.be/iYxFTn-eOks">Take On Lights</a> - Mashup of Take On Me, Blinding Lights, and Fireflies. A mirror of <a href="https://youtu.be/B8i5pMFxZ1Y">Blind Me</a>.</li>
    </ul>

    <br>
    <h1>Fuser Customs</h1>
    <ul>
        <li><a href="https://drive.google.com/file/d/1J1r6a2rHMlxqcVP-KaOggdi_GgyJYdLM/view?usp=share_link">Time Jack</a> (<a href="https://docs.google.com/spreadsheets/d/1qvUufWtUW0iEm9jPYS2FpmWVx88sL9gqeniJ5x8vDd8/edit#gid=1117996745&range=B540">link to cell</a>)</li>
    </ul>
    
    <br>
    <h1>Roblox Towers</h1>
    <ul>
        <li><a href="https://www.roblox.com/games/5126406197/GoodBois-Towers-of-Teamwork">GoodBoi's Towers of Teamwork</a> - My own tower game with a unique gimmick</li>
        <li><a href="https://jtohs-joke-towers.fandom.com/wiki/Tower_of_Exclaimed_Warning">Tower of Exclaimed Warning</a> - A tower for <a href="https://www.roblox.com/games/9390221128/UoFTE-Temperature-1">UoFtE</a>, a <a href="https://www.roblox.com/games/8562822414/Jukes-Towers-of-Hell">JToH</a> fangame</li>
        <li>Steeple of Trials for Noobs - Another tower in <a href="https://www.roblox.com/games/9390221128/UoFTE-Temperature-1">UoFtE</a></li>
    </ul>

    <br>
    <h1>Other</h1>
    <ul>
        <li>Hike Into the Swamp at 2:42 AM - A SMM2 <a href="https://youtu.be/4AsIOwJqRO4?t=193">troll</a> level - [804-78P-GKG]</li>
        <li><a href="https://drive.google.com/file/d/1-cJjbxipKr5vZxCef4EIm71d2h5f17wU/view?usp=sharing">Text is Pull</a> - A Baba is You custom world (might be broken)</li>
        <li>BBJRCU - [[redacted]]</li>
        <li>[[redacted]] - Soon™</li>
    </ul>

</Scroll>