---;
import Scroll from '../../layouts/Scroll.astro';
---

<Scroll title="The Good Boi – Projects">

    <h1 class="title pop">Projects</h1>
    I've made some pretty sweet stuff that you should check out
    <hr>

    <h1><a href="/guess-the-likes">Guess the Likes</a></h1>
    <p>Given only a YouTube video and it's title, estimate how many wonderful people have smashed that like button!</p>

    <br>
    <h1><a href="/timer">Skewed Timer</a></h1>
    <p>A timer that can be made slightly longer or shorter than it seems.</p>
    <ul>
        <li>Input the time you want displayed on the top row</li>
        <li>Put the number of seconds you want to add/subtract to the actual time</li>
        <li>ex: 5:00 +60</li>
        <ul><li>Looks like 5 minutes, actually 6 minutes</li></ul>
    </ul>

    <br>
    <h1><a href="https://thegoodboi411.github.io/youtube-roulette/">YouTube Roulette</a></h1>
    <p>A place to generate and search for random YouTube videos. Based off a <a href="https://www.youtube.com/playlist?list=PLQrhZVu4oFa1n5s_avXAXXgLSyV3g_zTM">video series by Yub</a>.</p>

    <br>
    <h1><a href="https://forms.gle/FKapugd1xHjj6SRR8">Real VHS Effect Service</a></h1>
    <p>
        I'm offering to put your videos onto and off of a physical VHS tape to achieve a <a href="https://youtu.be/qQcmGsVFO44">pretty neat effect</a>!
        <br>
        <i>$10 base, then $10 more per minute</i>
    </p>
    <br>
    <hr>
    
    <h1>Beat Saber</h1>
    <ul>
        <li><a href="/projects/maps">maps.astro</a> – My thoughts on a few maps I've created</li>
        <li><a href="https://github.com/TheGoodBoi411/undysfunctional-mapping-functions">undysfunctional-mapping-functions</a> – Functions for NE maps</li>
        <li><span class="text-muted">map-files</span> – Source files/code for modhcarts (Coming soon™)</li>
    </ul>
    
    <br>
    <h1>Meme Content</h1>

    <h3>YTPMV's and Mashups</h3>
    <ul>
        <li><a href="https://youtu.be/Tu_kV84mwDE">Death by Beast</a> – First YTPMV</li>
        <li><a href="https://youtu.be/sa2ElDQbaUY">MrDummy!</a> – Second YTPMV, got into <a href="https://youtube.com/watch?v=XXx00t5lgo8&t=363s">Underbeast</a></li>
        <li><a href="https://youtu.be/iYxFTn-eOks">Take On Lights</a> – Mashup of Take On Me, Blinding Lights, and Fireflies. A mirror of <a href="https://youtu.be/B8i5pMFxZ1Y">Blind Me</a>.</li>
        <li><a href="https://youtu.be/kfvm0HXAfwM">CoryxKenshin raps over Wii Motion Plus menu music</a> – Self explanitory</li>
        <li><a href="https://youtu.be/NR20MF5bApo">Opening Theme (TikTok Audio) - The Night Ripper</a> – A HQR for the @vavr channel*</li>
        <li><a href="https://youtu.be/fpxpv-fy1I8">Super BeII HiIIs - Super Mario 3D World</a> – Another @vavr submission*</li>
    </ul>
    <p><i>* ironically funny / not good on purpose</i></p>

    
    <h3>Visuals</h3>
    <ul>
        <li><a href="https://youtu.be/YFX3V1qVWeo">Wow Wow - Kinetic Typography</a> – First lyric video, very dynamic</li>
        <li><a href="https://youtu.be/FmW6RNT2jCs">ReDoin it Everywhere</a> – Second lyric video, basic gimmick</li>
    </ul>

    <h3>Other Funnies</h3>
    <ul>
        <li>cs188's mASSive Remonetized Remix Collab (<a href="https://youtu.be/Xh8Vqii93d4?t=667">11:07</a> & <a href="https://youtu.be/Xh8Vqii93d4?t=2205">36:45</a>)</li>
    </ul>
    
    <br>
    <h1>Contributions</h1>
    <ul>
        <li><a href="https://www.speedrun.com/httpslucregames.itch.iolost-ethereal">speedrun.com/httpslucregames.itch.iolost-ethereal</a></li>
        <li><a href="https://archive.org/details/lancelogic">archive.org/details/lancelogic</a></li>
        <li><a href="https://store.gx.me/mods/fmh551/baba-is-you/">store.gx.me/mods/fmh551/baba-is-you</a></li>
    </ul>
    
    <br>
    <h1>Roblox Towers</h1>
    <ul>
        <li><a href="https://www.roblox.com/games/5126406197/GoodBois-Towers-of-Teamwork">GoodBoi's Towers of Teamwork</a> – My own tower game with a unique gimmick</li>
        <li><a href="https://jtohs-joke-towers.fandom.com/wiki/Tower_of_Exclaimed_Warning">Tower of Exclaimed Warning</a> – A tower for <a href="https://www.roblox.com/games/9390221128/UoFTE-Temperature-1">UoFtE</a>, a <a href="https://www.roblox.com/games/8562822414/Jukes-Towers-of-Hell">JToH</a> fangame</li>
        <li>Steeple of Trials for Noobs – Another tower in <a href="https://www.roblox.com/games/9390221128/UoFTE-Temperature-1">UoFtE</a></li>
    </ul>

    <br>
    <h1>Other</h1>
    <ul>
        <li><a href="https://store.steampowered.com/app/1331440/FUSER/">Fuser</a> custom of <a href="https://youtu.be/7kTL3pYGHqE">Time Jack</a> (<a href="https://drive.google.com/file/d/1J1r6a2rHMlxqcVP-KaOggdi_GgyJYdLM/view?usp=share_lin">download</a>)</li>
        <li>Hike Into the Swamp at 2:42 AM – A SMM2 <a href="https://youtu.be/4AsIOwJqRO4?t=193">troll</a> level – [<a href="https://smm2.wizul.us/smm2/level/804-78P-GKG">804-78P-GKG</a>]</li>
        <li><a href="https://drive.google.com/file/d/1-cJjbxipKr5vZxCef4EIm71d2h5f17wU/view?usp=sharing">Text is Pull</a> – A <a href="https://store.steampowered.com/app/736260/Baba_Is_You/">Baba is You</a> custom world (that might be broken)</li>
        <li>SGHQRs – [[coming soon]]</li>
    </ul>

    <br>

</Scroll>